<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <script th:src="@{/jquery.min.js}"></script>
    <script th:src="@{/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        用户ID
                    </th>
                    <th>
                        用户名
                    </th>
                    <th>
                        年龄
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}">1</td>
                    <td th:text="${user.userName}">TB - Monthly</td>
                    <td th:text="${user.age}">01/04/2012</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>